@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Gestión de Negocios, Menú de Categorías e Items.</p>
    </div>
</div>
